@charset "utf-8";
/* CSS Document */
.header {
  height: 50px;
  background-color: #FFF;
  position: relative;
}
.header h1 {
  font-size: 1.3rem;
  color: #333;
  position: absolute;
  left: 24px;
  top: 10px;
}
.header__navigation {
  display: none;
}
@media (max-width:480px) {
  #nav-drawer {
    padding: 10px 24px 0 0;
    text-align: right;
    position: relative;
  }
  #nav-open {
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 20px;
  }
  #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px;
    width: 25px;
    background-color: #777;
    display: block;
    content: "";
  }
  #nav-open span:before {
    bottom: -8px;
  }
  #nav-open span:after {
    bottom: -16px;
  }
  #nav-close {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
  }
  #nav-content {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 70%;
    height: 100%;
    background-color: #FFF;
    text-align: left;
    padding: 15px 0 0 24px;
    transform: translateX(-105%);
    transition: 0.3s ease-in-out;
    box-shadow: 5px 0 25px rgba(0, 0, 0, 0.25);
  }
  .nav-drawer__title {
    display: block;
    font-size: 1.3rem;
    font-weight: 600;
    color: #366C9E;
    margin-bottom: 46px;
  }
  .nav-drawer__link-top {
    display: block;
  }
  #nav-content ul li {
    margin-bottom: 36px;
  }
  #nav-content ul li a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    color: #333;
  }
  #nav-input:checked ~ #nav-close {
    display: block;
  }
  #nav-input:checked ~ #nav-content {
    transform: translateX(0%);
  }
}
@media (min-width:480px) {
  .header {
    max-width: 1040px;
    margin: 0 auto;
    min-height: 50px;
    padding: 14px;
    box-sizing: border-box;
  }
  .header h1 {
    font-size: 2rem;
    top: 14px;
  }
  .header__navigation {
    display: block;
    text-align: right;
  }
  .header__navigation ul li {
    display: inline-block;
    margin-left: 40px;
  }
  .header__navigation ul li a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    color: #333;
  }
}
.main {
  background-color: #fffcf0;
}
@media(min-width:1040px) {
  main {
    padding-bottom: 120px;
  }
}
.section-top {
  margin-bottom: 50px;
}
.section-top__image {
  height: 365px;
  background-image: url("../images/ayako/ALCI5002.PNG");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  color: white;
  font-weight: 600;
  margin-bottom: 60px;
  position: relative;
}
.section-top__image h2 {
  font-family: "Times New Roman", Times, "serif";
  font-size: 2.2rem;
   position:absolute;
    top:38%;
  left: 45%;
    transform: translate(-45%, -50%);
}
   
@media(min-width:480px) {
  .section-top__image {
    height: 600px;
    margin-bottom: 60px;
  }
  .section-top__image h2 {
    font-size: 3.2rem;
    position:absolute;
    top:25%;
    left:25%;

  }
}
.section-favorite {
  margin-bottom: 50px;
}
.section-favorite h2 {
  font-size: 2.0rem;
  padding-bottom: 25px;
  border-bottom: solid 1px #333;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
.section-favorite ul {
  padding-top: 40px;
  list-style: none
}
.section-favorite ul li {
  max-width: 300px;
  margin-bottom: 30px;
  margin: 0 auto;
}
.section-favorite__item-picture {
  width: 100%;
  height: 300px;
  border-radius: 300px 300px 300px 300px;
  object-fit: cover;
  object-position: 0 0;
}
.section-favorite__item-title {
  padding: 12px 0 0;
}
.section-favorite__item-description {
  padding: 12px;
}
@media(min-width:1040px) {
  .section-favorite {
    padding: 40px 36px;
    margin: 0 auto 60px;
    max-width: 1040px;
    box-sizing: border-box;
  }
  .section-favorite ul {
    max-width: 1040px;
    margin: 0 auto;
  }
  .section-favorite ul li {
    display: inline-block;
    width: 320px;
    margin-right: 32px;
    vertical-align: top;
  }
  .section-favorite ul li:last-child {
    margin-right: 0px;
  }
}
.section-access {
  margin-bottom: 50px;
}
.section-access h2 {
  font-size: 2.0rem;
  padding-bottom: 25px;
  border-bottom: solid 1px #333;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
.section-access address {
  font-style: normal;
  margin-bottom: 25px;
}
.section-access__map {
  height: 270px;
}
.section-access__map iframe {
  width: 100%;
  height: 100%;
  border: solid 1px #333;
}
@media(min-width:1040px) {
  .section-access {
    padding: 40px 36px;
    margin: 0 auto 60px;
    max-width: 1040px;
    box-sizing: border-box;
  }
  .section-access address {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
  .section-access__map {
    max-width: 870px;
    margin: 0 auto;
    height: 385px;
  }
}
.section-myhistory {
  margin-left: 25px;
  margin-right: 25px;
  padding-bottom: 30px;
}
.section-myhistory h2 {
  font-size: 2.0rem;
  padding-top: 12px;
  padding-bottom: 25px;
  border-bottom: solid 1px #333;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
.section-myhistory ol {
  list-style-type: none
}
.section-myhistory ol li {
  margin-bottom: 25px;
  text-align: left;
}
@media(min-width:1040px) {
  .section-myhistory {
    padding: 40px 36px 20px;
    max-width: 1040px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .section-myhistory ol {
    max-width: 840px;
    margin: 0 auto;
  }
}
.footer {
  height: 180px;
  background-color: white;
  padding-top: 35px;
  padding-bottom: 0;
  font-weight: 600;
}
.site-map__break:after {
  content: "\A";
  white-space: pre;
}
.footer__site-map {
  margin-bottom: 20px;
}
.footer__site-map h2 {
  display: none;
}
.footer__site-map li {
  margin: 0 20px;
  display: inline-block;
  padding-bottom: 25px;
}
.footer__site-map li a {
  text-decoration: none;
  color: #4c4c4c;
}
.footer__site-map li a:visited {
  color: #4c4c4c;
}
.footer__sns_links {
  margin-bottom: 30px;
}
.footer__sns_links li {
  display: inline-block;
  width: 20px;
  margin: 0 10px;
}
.footer__sns_links li img {
  width: 100%;
}
.footer small {
  color: #333
}
@media(min-width:1040px) {
  .footer {
    margin: 0;
    padding: 0;
  }
  .site-map__break:after {
    content: "";
  }
  .footer__container {
    max-width: 1040px;
    margin: 0 auto;
    padding-top: 40px;
    text-align: left;
  }
  .footer__site-map {
    float: left;
  }
  .footer__site-map h2 {
    display: inline-block;
    width: 200px;
    vertical-align: top;
    color: #333;
  }
  .footer__site-map ul {
    display: inline-block;
  }
  .footer__site-map ul li {
    margin: 0;
    display: block;
    padding-bottom: 10px;
  }
  .footer__sns_links {
    float: right;
  }
  .footer small {
    clear: both;
    display: block;
    text-align: center;
  }
}
